/* TAGS */

div#content {
  margin: 100px 15vw 100px 15vw;
  overflow: auto;
}

p#citation {
  font-size: small;
  margin: 16px 0px 16px 0px;
}

p#more-info {
  font-size: small;
  margin: 16px 0px 16px 0px;
}