<div id="content">
  <h2>SNODAS Tools About:</h2>
  <h3>Daily SNODAS Snowpack Products for Colorado Water Supply Basins</h3>
  <p>This website provides access to a historical archive of SNODAS data products for Colorado water supply basins. Snow Data Assimilation System (SNODAS) data from the <a href="https://www.nohrsc.noaa.gov/interactive/html/map.html">National Operational Hydrologic Remote Sensing Center (NOHRSC)</a> are processed daily to calculate Snow Water Equivalent (SWE) and Snow Coverage statistics for water supply basins in Colorado. Snow Water Equivalent is the estimate of the depth of liquid water contained within the snowpack. Snow coverage is a percent of the basin land surface covered by snow (water bodies in the basin are ignored). The national SNODAS gridded dataset has been processed to provide data products for Colorado. Mean SWE is displayed in the map using a legend similar to the National Weather Service. The SNODAS Tools website provides access to an archive of daily products.</p>
  <ul>
      <li>The website is best viewed on a widescreen display. If the layout does not clearly show a left panel with tabs, a center panel with map, and a right panel with date and basin selectors, try maximizing to fill the display. <span style="font-weight: bold;">Ctrl and minus</span> can be used to zoom out until the layout shows all components.</li>
      <li>Hover over a basin to see the daily mean SWE value and other daily statistics.</li>
      <li>Use the <span style="font-weight: bold;">Select Date</span> button to display historical data for a specified day.</li>
      <li>Enter animation start and end dates, press <span style="font-weight: bold;">Submit</span>, and then press the play button to view the animation of daily SWE data.</li>
      <li>Click on a basin in the map to select the basin or use the <span style="font-weight: bold;">Select Basin</span> to select from the basin list. Then click on buttons in the lower right to display graphs.</li>
      <li>Once a graph has been opened, click anywhere on the screen to close the graph view and return to the main screen.</li>
      <li>Reposition the map by holding the mouse button down and dragging.</li>
      <li>Zoom in and out of the map using the control in the upper left, or use the mouse wheel.</li>
      <li>Use the <span style="font-weight: bold;">Data</span> tab on the left to access data files.</li>
  </ul>
  <p>&nbsp;</p>
  <p>Development of the SNODAS Tools was funded by the <a href="http://cwcb.state.co.us" target="_blank" rel="noopener noreferrer">Colorado Water Conservation Board</a>.  The tools were developed by the <a href="http://openwaterfoundation.org" target="_blank" rel="noopener noreferrer">Open Water Foundation</a>.
  Project resources are available on the <a href="http://projects.openwaterfoundation.org/owf-proj-co-cwcb-2016-snodas" target="_blank" rel="noopener noreferrer">OWF SNODAS project website</a>.</p>
  <p>Contact: Joe Busto, <a href="mailto:joe.busto@state.co.us">joe.busto@state.co.us</a></p>
  <p>Steve Malers, <a href="mailto:steve.malers@openwaterfoundation.org">steve.malers@openwaterfoundation.org</a></p>
  <p>Website version 1.0.9 (2017-08-28)</p>
</div>