/* TAGS */

div#content {
  height: 100%;
  width: 100%;
  margin-top: 95px;
  /* If scrolling is not needed, (e.g. the size of the Showdown content is less than 85% of the content page) a scroll bar will
  not be shown. The scroll bar will be shown if it is */
  overflow: auto;
}

div#inner-content {
  /* vh is the percentage of the viewport (or the browser window size), so the height of the Showdown HTML should take
  up 90% of the height */
  height: calc(100vh - 150px);
  /* Margin between the content and the sides of the browser window. */
  margin: 25px 15vw 0px 15vw;
}

div#showdown-container {
  height: 100%;
}