@import 'assets/css/showdown-default.css';
/* You can add global styles to this file, and also import other style files */

/* TAGS */

body {
  margin: 8px 0px 0px 0px;
}

body, html {
  /* font-family: Trebuchet MS,Helvetica,sans-serif!important; */
  font-family: 'Roboto', 'Helvetica Neue', sans-serif !important;
}

/* CLASSES */

/* This is for a Dialog Content Component. It is CSS that overrides the default behavior for the mat-dialog-container
created and shown as the background for the Dialog popup. Whereas the class call below changes both this div and its
child, this will change only the sizing on the outer div. VERY IMPORTANT for resizing all dialogs. */
.custom-dialog-container {
  overflow: auto;
  resize: both; 
}

/* Sets the padding and height of both the .custom-dialog-container outer div and its child .mat-dialog-container. */
.custom-dialog-container .mat-dialog-container {
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  height: 100%;
}

/* Similar to .custom-dialog-container, but does not have the option for resizing, so the resizing lines in the bottom-left
hand corner of the Dialog do not appear to the user. */
.custom-dialog-container-no-resize .mat-dialog-container {
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  height: 100%;
}

/* Used for styling a Leaflet DomUtil created element. */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Used for styling a Leaflet DomUtil created element. */
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

/* Used for styling a Leaflet DomUtil created element. */
.legend {
  text-align: left;
  line-height: 22px;
  color: #555;
}

/* Used for styling a Leaflet DomUtil created element. */
.legend i {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Used for styling a Leaflet DomUtil created element. */
.mapDate {
  padding: 6px 8px;
  font: 16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

/* Used for styling a Leaflet DomUtil created element. */
.mapDate h4 {
  margin: 0px;
  color: #777;
  font-size: 28px;
  font-weight: 400;
}

/* Styling for the padding inside of a Material expanded body, after a click. */
.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0px 2.5% 16px;
}

/* Allows all MatTooltip's text lines throughout the application to be broken at newline characters, at <br>,
as as necessary to fill line boxes. */
.mat-tooltip {
  white-space: pre-line;
}

/* ID's */