<mat-drawer-container class="main-container">

  <mat-drawer id="drawer"
              mode="side"
              position="end"
              opened>
    <div *ngIf="SNODAS_Geometry">
      <app-side-nav [currentDateDisplay]="currentDateDisplay"
                    [SNODAS_Geometry]="SNODAS_Geometry"
                    [events]="eventsSubject.asObservable()"
                    (updateBasinFunction)="updateBasin($event)"
                    (updateFileFunction)="updateFile($event)">
      </app-side-nav>
    </div>

  </mat-drawer>

  <mat-drawer-content>
    <div id="mapID"></div>
  </mat-drawer-content>

</mat-drawer-container>