/* TAGS */

/*  */
button#animation-button {
  background-color: #9DB66B;
  margin: 0px 5px 0px 5px;
  width: 15%;
}

/* Styling for all Graph buttons */
button.graph-button {
  background-color: #9DB66B;
  margin: 10px 0px 10px 0px;
  white-space: pre-wrap;
  width: 90%;
}

/* For any Graph buttons that contain text with more than one line, shrink the line-height. */
button#multi-line {
  line-height: 1.5;
}

button#select-date {
  width: 90%;
  background-color: #9DB66B;
}

/* This date-picker div id was created to give guidance to the font size of the Angular Material's date-picker input field.
The size of the input box is dependant on the font size, so decreasing the font size will decrease the large default box. */
div#date-picker {
  font-size: 14px;
}

div#day-increment {
  font-size: 16px;
}

/* Styling for the side-nav top-level div */
div#main {
  /* color: white; Changes most of the text color in the side nav to white. Excludes buttons, mat-select, etc. */ 
  text-align: center;
  padding: 10px;
}

/* Styling for all h3-6 headers in the side-nav */
h3 {
  margin: 0px 0px 10px 0px;
}

h4 {
  margin: 0px 0px 10px 0px;
}

h5 {
  font-size: 18px;
  margin: 0px 0px 8px 0px;
}

h6 {
  margin: 8px 0px 0px 0px;
}

hr#divider {
  color: black;
  margin: 8px 0px 8px 0px;
}

/*  */
input#search {
  height: 48px;
  width: 242px;
  padding: 0px 10px 0px 10px;
}

mat-panel-title {
  font-size: 18px;
  margin-left: 15%;
  text-decoration: underline;
}

/* Styling for the Name: and ID: properties under Selected Basin. */
p#current-basin-display {
  font-size: 14px;
  margin: 0px 0px 0px 5%;
  text-align: left;
}

/* Styling for the currently displayed human readable xxxx-xx-xx date under Current SNODAS Date. */
span#current-date-display {
  font-size: 20px;
}

/*  */
span#snodas-animation {
  font-weight: bold;
}

/*  */
span#snodas-date {
  font-weight: bold;
}

/* CLASSES */

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #9DB66B !important;
 }

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #9DB66B !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #9DB66B !important;;
}

::ng-deep .mat-select-arrow {
  color: #9DB66B !important;
}

/* Styles the font size of the SNODAS animation date picker placeholder input field. This is so the placeholder `YYYY-MM-DD`
can be shown in its entirety without being cut off. ::placeholder is a pseudo element (or class), with more info about them at
https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements*/
input.range-input::placeholder {
  font-size: 12px;
}

/* ID's */

#animation-expansion-panel {
  background-color: #e2e2e2;
  text-align: center;
}

#basin-option {
  white-space: pre-wrap;
  line-height: 1;
  text-align: center
}

#date-picker-form {
  width: 90%;
  padding: 0px;
}

#date-slider {
  margin: 10px 0px 10px 0px;
  width: 90%;
}

#day-increment-form {
  width: 90%;
  padding: 0px;
}

/* Styling for the Select Date Form */
#select-form {
  padding: 0px;
  font-size: 14px;
  width: 90%;
}