<div id="main">

  <mat-form-field id="select-form" appearance="fill">
    <mat-label>Select Date</mat-label>
    <mat-select name="date-selection">
      <input matInput
              id="search"
              placeholder="Search dates..."
              (keyup)="userInput($event, 'date')">
      <mat-option *ngFor="let date of selectedDates"
                    (click)="callUpdateFile(date)">
        {{date}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3><u>Current SNODAS Date</u></h3>
  <span id="current-date-display">{{currentDateDisplay}}</span>

  <hr><!-- Divider between the Select Date Form Field dropdown and the SNODAS animation Form Field -->

  <h3><u>SNODAS Animation</u></h3>

  <div id="date-picker">
    <mat-form-field id="date-picker-form" appearance="fill">

      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker [startAt]="minDate"></mat-date-range-picker>

    </mat-form-field>
  </div>

  <div id="day-increment">
    <mat-form-field id="day-increment-form">
      <mat-label>Increment in days</mat-label>
      <input matInput value="1">
    </mat-form-field>
  </div>

  <button mat-raised-button
          id="select-date">
    Submit
  </button>

  <hr>

  <mat-form-field id="select-form" appearance="fill">
    <mat-label>Select Basin</mat-label>
    <mat-select name="basin-selection">
      <input matInput
              id="search"
              placeholder="Search basins..."
              (keyup)="userInput($event, 'basin')">
      <mat-option *ngFor="let basin of selectedBasins"
                  id="basin-option"
                  (click)="callUpdateBasin(basin)">
        {{basin}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3><u>Selected Basin</u></h3>
  <div *ngIf="isBasinSelected === false">
    <p id="current-basin-display"><b>Name: </b>N/A</p>
    <p id="current-basin-display"><b>ID: </b>N/A</p>
  </div>
  
  <div *ngIf="isBasinSelected === true">
    <p id="current-basin-display"><b>Name: </b>{{selectedBasinName}}</p>
    <p id="current-basin-display"><b>ID: </b>{{selectedBasinID}}</p>
  </div>

  <!-- The bottom 8 Basin Graph buttons. -->
  <button mat-raised-button
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS Snow Cover Graph
  </button>

  <button mat-raised-button
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE Graph
  </button>

  <button mat-raised-button
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE Volume Graph
  </button>

  <button mat-raised-button
          id="multi-line"
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE Upstream Total Volume Graph
  </button>

  <button mat-raised-button
          id="multi-line"
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE 1 Week Change Graph
  </button>

  <button mat-raised-button
          id="multi-line"
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE Volume Gain, Cumulative Graph
  </button>

  <button mat-raised-button
          id="multi-line"
          class="graph-button"
          [disabled]="isBasinSelected | menuDisable">
    SNODAS SWE Upstream Total Volume Gain, Cumulative Graph
  </button>
  
</div>
