<div id="main">

  <mat-form-field id="select-form" appearance="fill">
    <mat-label>Select Date</mat-label>
    <mat-select name="date-selection"
                (openedChange)="openSelectChange($event)">
      <cdk-virtual-scroll-viewport
      [itemSize]="48"
      [minBufferPx]="540"
      [maxBufferPx]="540"
      [style.width.px]="311"
      [style.height.px]="240">
        <input matInput
              id="search"
              placeholder="Search dates..."
              (keyup)="userInput($event, 'date')">
        <mat-option *cdkVirtualFor="let date of selectedDates"
                    (click)="callUpdateMapDate(date)"
                    [value]="date"
                    [style.height.px]="48">
          {{date}}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-select>
  </mat-form-field>

  <h5><u>Selected SNODAS Date</u></h5>
  <span id="selected-date-display">{{currentDateDisplay}}</span>

  <hr id="divider"><!-- Divider between the SNODAS animation Form Field and Select Basin Form Field dropdown. -->

  <mat-form-field id="select-form" appearance="fill">
    <mat-label>Select Basin</mat-label>
    <mat-select name="basin-selection">
      <input matInput
              id="search"
              placeholder="Search basins..."
              (keyup)="userInput($event, 'basin')">
      <mat-option *ngFor="let basin of selectedBasins"
                  id="basin-option"
                  (click)="callUpdateBasin(basin)">
        {{basin}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h5><u>Selected Basin</u></h5>
  <div *ngIf="isBasinSelected === false">
    <p id="current-basin-display"><b>Name: </b>N/A</p>
    <p id="current-basin-display"><b>ID: </b>N/A</p>
  </div>
  
  <div *ngIf="isBasinSelected === true">
    <p id="current-basin-display"><b>Name: </b>{{selectedBasinName}}</p>
    <p id="current-basin-display"><b>ID: </b>{{selectedBasinID}}</p>
  </div>

  <h6 matTooltip="Select a basin to view data graphs"
      [matTooltipShowDelay]="750"
      matTooltipPosition="below">
    <u>SNODAS Data Graphs</u>
  </h6>

  <!-- The bottom 8 Basin Graph buttons. -->
  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-SNODAS-SnowCover.png')"
          [disabled]="isBasinSelected | menuDisable">
    Snow Cover
  </button>

  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-SNODAS-SWE.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE
  </button>

  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-SNODAS-SWE-Volume.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE Volume
  </button>

  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-UpstreamTotal-SNODAS-SWE-Volume.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE Upstream Total Volume
  </button>

  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-SNODAS-SWE-Volume-1WeekChange.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE 1 Week Change
  </button>

  <button mat-raised-button
          id="single-line"
          class="graph-button"
          (click)="openImageDialog('-SNODAS-SWE-Volume-Gain-Cumulative.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE Volume Gain, Cumulative
  </button>

  <button mat-raised-button
          id="multi-line"
          class="graph-button"
          (click)="openImageDialog('-UpstreamTotal-SNODAS-SWE-Volume-Gain-Cumulative.png')"
          [disabled]="isBasinSelected | menuDisable">
    SWE Upstream Total Volume Gain, Cumulative
  </button>

  <!-- Divider between the Select Date Form Field dropdown and the SNODAS animation Form Field. -->
  <hr id="divider">

  <mat-accordion>
    <mat-expansion-panel hideToggle id="animation-expansion-panel">
      <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
        <mat-panel-title>
          SNODAS Animation
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div id="animation-form-input" [formGroup]="dateRange">
        <mat-form-field id="date-picker-form" appearance="fill">
    
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker"
                                [min]="minDate"
                                [max]="maxDate"
                                separator="to">
            <!-- (dateChange)="dateStartChange(rangeStartDate)" -->
            <input matStartDate
                    #rangeStartDate
                    class="range-input"
                    formControlName="startDate"
                    placeholder="Start Date">
            <!-- (dateChange)="dateEndChange(rangeEndDate)" -->
            <input matEndDate
                    #rangeEndDate
                    class="range-input"
                    formControlName="endDate"
                    placeholder="End Date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker [startAt]="maxDate"></mat-date-range-picker>

          <mat-error *ngIf="dateRange.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="dateRange.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    
        </mat-form-field>

        <mat-form-field id="day-increment-form">
          <mat-label>Increment in days</mat-label>
          <input matInput
                  [errorStateMatcher]="errorMatcher"
                  formControlName="dayIncrement">
          <mat-error *ngIf="dateRange.controls.dayIncrement.hasError('pattern')"></mat-error>
        </mat-form-field>
      </div>
    
      <!-- thumbLabel [displayWith]="formatLabel" -->
      <mat-slider id="date-slider"
                  [value]="sliderValue"
                  disabled="true"
                  color="primary">
      </mat-slider>
      
      <button mat-raised-button
              id="animation-button"
              (click)="playAnimation()"
              [disabled]="animationPlaying | menuDisable : 'play'"
              matTooltip="Start animation"
              [matTooltipShowDelay]="750"
              matTooltipPosition="above">
        <i class="fa fa-play" aria-hidden="true"></i>
      </button>
      <button mat-raised-button
              id="animation-button"
              (click)="pauseAnimation()"
              [disabled]="animationPaused | menuDisable : 'pause' : animationCompleted : animationPlaying"
              matTooltip="Pause animation"
              [matTooltipShowDelay]="750"
              matTooltipPosition="above">
        <i class="fa fa-pause" aria-hidden="true"></i>
      </button>
      <button mat-raised-button
              id="animation-button"
              (click)="restartAnimation()"
              [disabled]="animationPaused | menuDisable : 'restart' : animationCompleted"
              matTooltip="Restart animation"
              [matTooltipShowDelay]="750"
              matTooltipPosition="above">
        <i class="fa fa-fast-backward" aria-hidden="true"></i>
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  
</div>
